body{
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ddd;
  line-height: 1.8;
}

img{
  max-width: 100%;
  height: auto;
}

img.frame{
  border: 1px solid #ccc;
}

#container{
  max-width: 600px;
  margin: 30px auto;
}

.info{
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.name{
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
  color: #ff0000;
}

.btns{
  display: flex;
}

.btns .btn{
  color: #666;
}

.btns .next{
  margin-left: auto;
}

.btns .prev{
  margin-right: auto;
}

#main_nav ul li ul{
  position: absolute;
  top:30px;
  background-color:#fff;
  border:1px solid #ccc;
  display: none;
}

#main_nav ul li:hover ul{
  display: block;
}

header{
  margin-bottom: 13em;
  position: relative;
  width: 100%;
  background-color: #444;
}
ul > li{
  display: inline-block;
}
ul > li > a{
  padding: 15px 30px;
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}
ul > li > span{
  margin-left: 1.2em;
}
ul > li:hover > a{
  background-color: #efefef;
  color: #444;
}

/* Submenu */

ul li ul{
  position: absolute;
  top: 55px;
  left: 0;
}
ul li ul li{
  display: block;
}
ul li ul li a{
  background-color: #efefef;
  color: #444;
}
ul li ul li a:hover{
  background-color: #ddd;
}